.repo {
    .name {
        color: #0366d6;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.9em;
        text-decoration: none;
    }
    .description {
        font-size: 14px;
        color: #464646;
        line-height: 2em;
    }
    .link {
        margin-bottom: 10px;
        display: inline-block;
    }
}

